@import 'layouts.css';
@import 'modules.css'; 

* {
    font-family: 'Baloo Tammudu 2';
}


body {
    background-image: radial-gradient(circle, #490c2f, #5d1441, #721d55, #87266a, #9b3181, #a93892, #b73fa4, #c547b7, #d14cc7, #dd52d8, #e858e9, #f35ffb);
}


footer{
    clear: both;
    text-align: center;
    padding-top: 35px;
    font-size: 15px;
}

h1 {
    text-align: center;
    font-size: 40px;
}












