

select {
    margin-left: 220px;
    margin-bottom: 30px;
    height: fit-content;
    width: fit-content;
}

a {
    display: block;
    float: right;
    margin-right: 205px;
    color: white;
}

option , button{
     width: max-content;
    max-height: 35px;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    }